/**
 * Page Summary: 사용자 지정 공통으로 사용하는 CSS
 */

/* 세로 정렬 */
.vertical-top {
    vertical-align: top!important
}
.vertical-middle {
    vertical-align: middle!important
}
.vertical-bottom {
    vertical-align: bottom!important
}

/* Border default */
.b-1 {
    border: solid 1px #EEEEEE;
}
.b-t-1 {
    border-top: solid 1px #EEEEEE;
}
.b-b-1 {
    border-bottom: solid 1px #EEEEEE;
}
.b-l-1 {
    border-left: solid 1px #EEEEEE;
}
.b-r-1 {
    border-right: solid 1px #EEEEEE;
}

/* Border radius: 3px */
.b-tl-rd-3 {
    border-top-left-radius: 3px;
}
.b-tr-rd-3 {
    border-top-right-radius: 3px;
}
.b-bl-rd-3 {
    border-bottom-left-radius: 3px;
}
.b-br-rd-3 {
    border-bottom-right-radius: 3px;
}
.b-l-rd-3 {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.b-t-rd-3 {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.b-b-rd-3 {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.b-rd-3 {
    border-radius: 3px
}

/* Border radius: 30px */
.b-tl-rd-30 {
    border-top-left-radius: 30px;
}
.b-tr-rd-30 {
    border-top-right-radius: 30px;
}
.b-bl-rd-30 {
    border-bottom-left-radius: 30px;
}
.b-br-rd-30 {
    border-bottom-right-radius: 30px;
}
.b-l-rd-30 {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.b-t-rd-30 {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.b-b-rd-30 {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.b-rd-30 {
    border-radius: 30px
}
