/**
 * Page Summary: 사용자가 추가 적으로 개별 작업 하는 공통 CSS
 */

/* 기본 폼: 크롬 자동완성 선택시 자동 스타일 적용 삭제 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid #cdd0d4;
    -webkit-text-fill-color: #333333;
    -webkit-box-shadow: 0 0 0px 9999px #FFFFFF inset;
    transition: background-color 5000s ease-in-out 0s;
}

/* 로그인 폼: 크롬 자동완성 선택시 자동 스타일 적용 삭제 */
.login-content input:-webkit-autofill,
.login-content input:-webkit-autofill:hover,
.login-content input:-webkit-autofill:focus
.login-content input:-webkit-autofill,
.login-content textarea:-webkit-autofill,
.login-content textarea:-webkit-autofill:hover
.login-content textarea:-webkit-autofill:focus,
.login-content select:-webkit-autofill,
.login-content select:-webkit-autofill:hover,
.login-content select:-webkit-autofill:focus {
    border: 1px solid #585d63;
    -webkit-text-fill-color: #FFFFFF;
    -webkit-box-shadow: 0 0 0px 9999px #585d63 inset;
    transition: background-color 5000s ease-in-out 0s;
}

/* ul li 형태의 목록 기본 형태 */
ul.li-vertical-list-default {
    margin: 0;
    padding: 0;
}
ul.li-vertical-list-default li {
    list-style: none;
    border: solid 1px #EEEEEE;
    padding: 0 12px;
    margin: 8px 0;
    height: 50px;
    line-height: 50px;
}
ul.li-vertical-list-default li label {
    margin: 0 10px;
}

/* ul li 가로 배치 */
ul.inline-type {
    padding: 0;
    margin: 0;
}
ul.inline-type li {
    display: inline;
    padding: 0 5px;
}

/* 페이지 로딩시 fadeIn 애니메이션 */
#content {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* Nestable List */
.form-horizontal.form-bordered .form-group {
    border-bottom: 1px solid #eee;
    margin: 0
}

.form-horizontal.form-bordered .form-group:last-child {
    border-bottom: 0
}

.form-horizontal.form-bordered .form-group>.control-label {
    padding: 22px 15px 15px;
    border-right: 1px solid #eee;
    margin-right: -1px
}

.form-horizontal.form-bordered .form-group>div {
    padding: 15px;
    border-left: 1px solid #eee
}

.form-horizontal.form-bordered .has-feedback .form-control-feedback {
    top: 15px
}

/* 상단 퀵메뉴 */
.quick-menu-wrap {
    display: inline-block;
    padding: 7px 13px 0;
    position: relative
}
.quick-menu-wrap > .quick-menu-list {
    list-style:none;
    margin:0;
    padding:0;
}
.quick-menu-wrap > .quick-menu-list > li {
    margin: 0 13px;
    padding: 0;
    border : 0;
    float: left;
    cursor: pointer;
}
.quick-menu-wrap > .quick-menu-list > li > span {
    display: block
}
.quick-menu-wrap > .quick-menu-list > li > span.label {
    text-align: left;
    color: #bfbfbf;
    padding: 3px 0 !important;
    /*visibility: hidden;*/
}
.quick-menu-wrap > .quick-menu-list > li > span.quick-menu {
    max-width: 97%;
    white-space: nowrap;
    background: 0 0;
    border: none;
    padding: 0;
    text-align: left;
    color: #555;
    font-size: 14px;
}
.quick-menu-wrap > .quick-menu-list > li > span.quick-menu:hover {
    color: #333
}

.project-context > span.label > .badge {
    margin-top: -5px;
    margin-left: 3px;
}

/* 스마트폼 테이블 */
.smart-form thead th,
.smart-form thead td.txt {
    text-align: center;
    vertical-align: middle;
}
.smart-form tbody td.txt {
    text-align: center;
    vertical-align: middle !important;
}
.smart-form thead label.checkbox i {
    margin-top: -4px;
    margin-left: 2px;
}
.smart-form tbody label.checkbox i {
    margin-top: -4px;
    margin-left: 2px;
}

/* 기본 테이블 */
.popup-table {
}
.popup-table .min-height {
    height: 32px;
    display: table-cell;
    vertical-align: middle;
}
.popup-table th,
.popup-table td {
    height: 32px !important;
    padding: 8px !important;
    vertical-align: middle !important;
}
.popup-table tbody .title {
    font-weight: bold;
    text-align: center;
    background-color: #F5F5F5;
}
.popup-table tbody .cont {
}

/* 메뉴 설정: /config/menu */
.configMenu .block {
    margin: 5px 0;
    border: 1px solid #EEEEEE;
    background: #fff;
}
.configMenu .block.not-use {
    margin: 5px 0;
    border: 1px solid #EEEEEE;
    background: #FD9392;
}
.configMenu .block-title {
    font-family: Arial;
    font-size: 12px;
    color: #4c4743;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    position: relative;
}
.configMenu.sortable {
    list-style: none;
    padding-left: 0;
}
.configMenu.sortable ul {
    margin-left: 25px;
}
.configMenu .ui-sortable-helper {
    box-shadow: rgba(0,0,0,0.15) 0 3px 5px 0;
    width: 300px!important;
    height: 40px!important;
}
.configMenu .sortable-placeholder {
    height: 35px;
    background: #D0EEFF;
    margin-bottom: 5px;
    margin-top: 5px;
}

.basicInfo .list-vertical {
    margin-bottom: 8px;
}

#relNewList .list-vertical hr {
    display: none;
}
#relNewList .list-vertical:last-child hr {
    display: block;
}

.configMenu .btnConfigMore {
    padding: 0 10px;
    margin-left: 10px;
    height:38px;
    cursor: pointer;
}
.configMenu .editIcon {
    padding: 0;
    display: unset;
}



/* 직원 그룹 및 권한: /human/group */
.groupAccess .block {
    margin: 5px 0;
    border: 1px solid #EEEEEE;
    background: #fff;
}
.groupAccess .block.not-use {
    margin: 5px 0;
    border: 1px solid #EEEEEE;
    background: #FD9392;
}
.groupAccess .block-title {
    font-family: Arial;
    font-size: 12px;
    color: #4c4743;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    position: relative;
}
.groupAccess.sortable {
    list-style: none;
    padding-left: 0;
}
.groupAccess.sortable ul {
    margin-left: 25px;
}
.groupAccess .ui-sortable-helper {
    box-shadow: rgba(0,0,0,0.15) 0 3px 5px 0;
    width: 300px!important;
    height: 40px!important;
}
.groupAccess .sortable-placeholder {
    height: 35px;
    background: #D0EEFF;
    margin-bottom: 5px;
    margin-top: 5px;
}

/* 공통코드관리: /config/code */
.commonCode .sortable-placeholder td {
    height: 55px;
    background: #D0EEFF;
    margin-bottom: 5px;
    margin-top: 5px;
}

/* 직원계정: /human/account */
.account th,
.account td {
    padding: 15px 8px !important;
}

/* 직원계정 신규작성: /human/accountWrite */
.accountWrite .errMsg {
    text-align: left;
    padding: 0;
    line-height: 32px;
}
