/* margin 추가 */
.m-t-6 {
    margin-top: 6px!important
}
.m-t-7 {
    margin-top: 7px!important
}
.m-t-8 {
    margin-top: 8px!important
}
.m-t-9 {
    margin-top: 9px!important
}

/* ibox */
.ui-sortable .ibox-title {
    cursor: move;
}
.ui-sortable-placeholder {
    border: 1px dashed #cecece !important;
    visibility: visible !important;
    background: #e7eaec;
}
.ibox.ui-sortable-placeholder {
    margin: 0px 0px 23px !important;
}

/* table */
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    background-color: #F5F5F6;
    border-bottom-width: 1px;
}

/* panel */
.panel {
    border: solid 1px #EEEEEE;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.panel-heading{
    border-top-left-radius:6px;
    border-top-right-radius:6px;
}

/* bootstrap select box */
.btn>.pull-left,
.btn>.pull-right {
    line-height: 1.7
}

/* Dropzone file upload */
.dropzone{
    border: 1px dashed #b6c2c9 !important;
    background: #fff !important;
}
.dropzone span {
    font-size: 14px !important;
}

/* X-editable */
.popover-title {
  padding: 8px 14px;
  margin: 0 !important;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: 0 !important;
}